/*RESET*/
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
html {
    scroll-behavior: smooth;
}
*::before, *::after {
    display: block;
}
a {
    display: block;
    text-decoration: none;
    color: inherit;
    font-size: inherit;
}
img, picture, video, iframe, figure {
    width: 100%;
    max-width: 100%;
    display: block;
}
svg {
    display: block;
    width: 2em;
    height: 2em;
}
form, input, textarea, select, button, label {
    font-family: inherit;
    font-size: inherit;
    background-color: transparent;
    color: inherit;
    display: block;
}
h2, h3, h4, a {
    font-family: 'Roboto', sans-serif;;;
}
#Name {
    font-family: 'Roboto', sans-serif;;;
}
p, span{
    font-family: 'Arimo', sans-serif;
}
body {
    min-height: 100vh;
    font-size: 100%;
    line-height: 1.4em;
}

/* HEADER */
.Header{
    width: 100%;
    height: 10vh;
    background-color: red;
    margin-bottom: 3.125rem;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
.Menu-svg
.Header-menu{
    /* background-color: blueviolet; */
    /* display: none; */
}
.Header-h1{
    background-color: green;
    width: 3rem;
    height: 3rem;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    padding-bottom: .3rem;
    border-radius: 50%;
    border: 2px solid black;
}
.Header-a{}
.Header-right{
    background-color: bisque;

    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    gap: 32px;
}
.Header-nav{
    background-color: orange;
}
.Header-ul{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    gap: .625rem;
}
.Header-li{}
.Header-link{}
.Header-svg{
    background-color: greenyellow;
}
.Dots-svg{}

/* MAIN */
Main{
    width: 100%;
    background-color: lightblue;
    min-height: 280vh;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}
Main-section{}

/* HEAR */
.Hear{
    background-color: aqua;
    grid-column: span 2;
    grid-row: span 2;

    /* display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center; */
}
.Hear-h2{}
.Hear-p{}
.Hear-a{}

/* APP */
.App{
    background-color: red;
}
.App-h3{}
.App-a{}

/* VIDEO */
.Video{
    background-color: blue;
}

/* WHAT */
.What{
    background-color: gold;
    grid-column: span 2;
}
.What-h4{}
.What-p{}
.What-name{}
.What-job{}

/* MAP */
.Map{
    background-color: tomato;
    grid-column: span 2;
}

/* SOUND */
.Sound{
    background-color: lightgreen;
    grid-column: span 2;
    grid-row: span 2;
}
.Sound-h2{}
.Sound-p{}
.Sound-a{}

/* IMAGE */
.Image{
    background-color: palevioletred;
}
.Img{}

/* WAVE */
.Wave{
    background-color: paleturquoise;
}
.Wave-image{}
.Wave-h4{}
.Wave-p{}

/* NEWSLETTER */
.Newsletter{
    background-color: lightpink;
    width: 100%;
    min-height: 25vh;
    margin-bottom: 3.125rem;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
.Newsletter-h3{
    margin: 3.125rem;
}
.Input-container{
    position: relative;
    margin: 3.125rem;
}
.Newsletter-input{
    width: 18.75rem;
    height: 1.875rem;
    font-size: 1rem;
    border-bottom: .0625rem solid brown;
}
.Input-a{
    position: absolute;

    top: 30%;
    left: 94%;
}

.Input-svg{
    width: 1rem;
    height: 1rem;
}

/* FOOTER */
.Footer{
    background-color: lightskyblue;
    width: 100%;
    height: 30vh;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 3.125rem;
}

/* FOOTER LEFT */
.Footer-left{
    background-color: blueviolet;
    margin-left: 1.875rem;
    width: 25%;
}
.Footer-circle{
    width: 6.25rem;
    height: 6.25rem;

    background-color: lightpink;
    padding-bottom: .3rem;
    border-radius: 50%;
    border: 2px solid black;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.Footer-s{
    font-size: 2.5rem;
}
.Copyright{}
.Copyright-a{}

/* FOOTER CENTER*/
.Footer-center{
    background-color: aquamarine;
}

/* FOOTER CENTER LEFT */
.Left{
    background-color: beige;
    width: 25%;
}
.Left-ul{}
.Left-li{}
.Left-a{}

/* FOOTER CENTER RIGHT */
.Right{
    background-color: goldenrod;
    width: 25%;
}
.Right-ul{}
.Right-li{}
.Right-a{}

/* FOOTER RIGHT */
.Footer-right{
    background-color: lightcyan;
    width: 25%;
}
.Footer-sentences{}
.Footer-ul{}
.Footer-li{}
.Footer-a{}

/* RRSS */
.Rrss{
    margin-top: 1.875rem;
}
.Rrss-ul{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 1.25rem;
}
.Rrss-li{}
.Rrss-a{}
.Rrss-svg{
    width: 1rem;
    height: 1rem;
}