/*RESET*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
html {
  scroll-behavior: smooth;
}
*::before,
*::after {
  display: block;
}
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}
img,
picture,
video,
iframe,
figure {
  width: 100%;
  max-width: 100%;
  display: block;
}
svg {
  display: block;
  width: 1.2em;
  height: 1.2em;
}
form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  color: inherit;
  display: block;
}
h2,
h3,
h4,
a {
  font-family: "Roboto", sans-serif;
}
#Name {
  font-family: "Roboto", sans-serif;
}
p,
span {
  font-family: "Arimo", sans-serif;
}
body {
  min-height: 100vh;
  font-size: 100%;
  line-height: 1.4em;
}

/* HEADER */
.Header {
  width: 100%;
  /* background-color: red; */
  margin-bottom: 0.5rem;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  padding: 1rem;

  animation: headerslideDown 4s ease 1 both;
}
.Header-menu-container {
}
.Menu-svg {
  display: none;
}
.Header-menu {
  /* background-color: blueviolet; */
}
.Header-h1 {
  /* background-color: green; */
  width: 3rem;
  height: 3rem;
  color: #bba085;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  padding-bottom: 0.3rem;
  border-radius: 50%;
  border: 0.125rem solid #bba085;

  animation: spinner 5s linear infinite 3s;
}
.Header-a {
  font-size: 1.5rem;
}
.Header-right {
  /* background-color: bisque; */

  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
}
.Header-nav {
  /* background-color: orange; */
}
.Header-ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  gap: 3.25rem;

  color: #6a533e;
}
.Header-li {
}
#Header-home {
  color: #bba085;
}
.Header-link {
}
.Header-li:hover {
  color: #bba085;
  transition: 0.3s;
}
.Header-svg {
  /* background-color: greenyellow; */
  color: #bba085;
}
.Dots-svg {
}
@media screen and (max-width: 1000px) {
  .Menu-svg {
    display: block;
  }
  .Header-nav {
    display: none;
  }
}

/* MAIN */
.Main {
  width: 100%;
  /* background-color: lightblue; */
  min-height: 270vh;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
.Main-section {
}
@media screen and (max-width: 1025px) {
  .Main {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(8, 1fr);
  }
}
@media screen and (max-width: 765px) {
  .Main {
    grid-template-columns: repeat(2, 0.5fr);
    grid-template-rows: repeat(10, 0.5fr);
  }
}

/* HEAR */
.Hear {
  background-color: aqua;
  grid-column: 1 / 3;
  grid-row: 1 / 3;

  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.875rem;

  padding: 5rem;

  background: url(../assets/main-img-1.jpg) no-repeat center center / cover;

  animation: slideRight 2s ease 1 both;
  overflow: hidden;
}
.Hear-h2 {
  font-size: 4.375rem;
  font-family: arimo, sans-serif;
  text-transform: uppercase;
  line-height: 4.6875rem;
  color: #fff;
}
.Hear-p {
  font-family: "Roboto", sans-serif;
  color: #fff;
  line-height: 1.7rem;
  font-size: 1.25rem;
}
.Hear-a {
  background-color: #d6b99d;
  border: none;
  color: white;
  padding: 0.9375rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

  border-radius: 1.5625rem;
  padding-right: 2.6875rem;
  padding-left: 2.6875rem;

  animation: animationButton 4s ease infinite 1s both;
}
.Hear-a:hover {
  background-color: #ccb095;
  transition: 0.3s;

  animation: animationHover 2s ease 1 both;
}
@media screen and (max-width: 765px) {
  .Hear {
    padding: 2rem;
  }
  .Hear-h2 {
    font-size: 3.375rem;
    line-height: 3.5rem;
  }
  .Hear-p {
    font-size: 1.25rem;
  }
}
@media screen and (max-width: 400px) {
  .Hear {
    padding: 2rem;
  }
  .Hear-h2 {
    font-size: 2.375rem;
    line-height: 2.5rem;
  }
  .Hear-p {
    font-size: 1rem;
  }
}

/* APP */
.App {
  background-color: #f5ece0;
  grid-column: 3 / 4;
  grid-row: 1 / 2;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  padding: 2.1875rem;

  animation: slideDown 2s ease 1 both;
}
.App-h3 {
  font-family: arimo, sans-serif;
  color: #8f6843;
  text-transform: uppercase;
  font-size: 2.1875rem;
  line-height: 3.125rem;
  text-align: center;

  padding-bottom: 1.25rem;
}
.App-a {
  background-color: #fff;
  color: #6a533e;
  border: none;
  padding: 0.9375rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

  border-radius: 1.5625rem;
  padding-right: 2.6875rem;
  padding-left: 2.6875rem;

  animation: animationButton 4s ease infinite 1s both;
}
.App-a:hover {
  background-color: rgb(214, 185, 157);
  color: white;
  transition: 0.3s;

  animation: animationHover 2s ease 1 both;
}

/* VIDEO */
.Video {
  background-color: blue;
  position: relative;

  grid-column: 4 / 5;
  grid-row: 1 / 2;

  background: url(../assets/about-img-1.jpg) no-repeat center center / cover;

  animation: slideDown 2s ease 1 0.5s both;
}
.Video-a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

  width: 9.375rem;
  height: 9.375rem;

  border-radius: 50%;
  border: 0.125rem solid white;

  animation: animationVideo 8s ease infinite 1s both;
}
.Video-svg {
  position: absolute;
  top: 35%;
  left: 35%;
  color: white;

  width: 3rem;
  height: 3rem;
}
.Video-svg:hover {
  color: transparent;
  stroke: white;
  stroke-width: 0.0313rem;
  transition: 0.3s;
}

/* WHAT */
.What {
  background-color: gold;
  grid-column: 3 / 5;
  grid-row: 2 / 3;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  /* align-items: flex-start; */

  padding: 12% 10% 5% 10%;

  background: url(../assets/main-img-2.jpg) no-repeat center center / cover;

  animation: slideLeft 2s ease 1 both;
  overflow: hidden;
}
.What-h4 {
  font-family: arimo, sans-serif;
  color: #8f6843;
  font-size: 1.75rem;
  letter-spacing: 0.0625rem;
  text-transform: uppercase;

  padding-bottom: 1.25rem;
}
.What-p {
  font-family: Roboto, sans-serif;
  font-size: 1.1875rem;
  line-height: 1.875rem;
  color: #635c55;

  padding-bottom: 1.875rem;
  padding-right: 23%;
}
.What-name {
  font-family: Arimo, sans-serif;
  font-size: 1.0625rem;
  line-height: 1.875rem;
  letter-spacing: 0.0625rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #8f6843;

  padding-bottom: 0.3125rem;
}
.What-job {
  font-family: Roboto, sans-serif;
  font-size: 1rem;
  line-height: 1.5625rem;
  letter-spacing: 0;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  color: #635c55;
}
.What-dots {
  padding-top: 10px;
}
.What-ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.What-li {
}
.What-li:hover {
  background-color: rgb(244, 241, 238);
  border-radius: 50%;
  cursor: pointer;

  transition: 0.3s;
}
.What-svg {
  color: #8f6843;
}
@media screen and (max-width: 765px) {
  .What {
    padding: 10%;
  }
  .What-h4 {
    font-size: 1.4rem;
  }
  .What-p {
    padding-right: 0;
    padding-bottom: 0;
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

/* MAP */
.Map {
  background-color: tomato;
  grid-column: 1 / 3;
  grid-row: 3 / 4;

  filter: sepia(60%);
  -webkit-filter: sepia(60%);
  -moz-filter: sepia(60%);

  animation: slideMap 2s ease 1 0.7s both;
}
.Map-iframe {
}

/* SOUND */
.Sound {
  background-color: lightgreen;
  grid-column: 3 / 5;
  grid-row: 3 / 5;

  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  align-items: flex-start;
  gap: 1.875rem;

  padding: 5rem;
  background: url(../assets/main-img-5.jpg) no-repeat center center / cover;

  animation: soundslideRight 2s ease 1 both;
  overflow: hidden;
}
.Sound-h2 {
  font-size: 4.375rem;
  font-family: arimo, sans-serif;
  text-transform: uppercase;
  line-height: 4.6875rem;
  color: #fff;
}
.Sound-p {
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-size: 1.25rem;
}
.Sound-a {
  background-color: #d6b99d;
  border: none;
  color: white;
  padding: 0.9375rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

  border-radius: 1.5625rem;
  padding-right: 2.6875rem;
  padding-left: 2.6875rem;

  animation: animationButton 4s ease infinite 1s both;
}
.Sound-a:hover {
  background-color: #ccb095;
  transition: 0.3s;

  animation: animationHover 2s ease 1 both;
}
@media screen and (max-width: 765px) {
  .Sound {
    padding: 2rem;
  }
  .Sound-h2 {
    font-size: 3.375rem;
    line-height: 3.5rem;
  }
  .Sound-p {
    font-size: 1.25rem;
  }
}
@media screen and (max-width: 400px) {
  .Sound {
    padding: 2rem;
  }
  .Sound-h2 {
    font-size: 2.375rem;
    line-height: 2.5rem;
  }
  .Sound-p {
    font-size: 1rem;
  }
}
/* IMAGE */
.Image {
  background-color: palevioletred;
  grid-column: 1 / 2;
  grid-row: 4 / 5;

  animation: slideImage 2s ease 1 both;
}
.Img {
  height: 100%;
  object-fit: cover;
}

/* WAVE */
.Wave {
  background-color: white;
  grid-column: 2 / 3;
  grid-row: 4 / 5;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;

  animation: slideWave 2s ease 1 1s both;
}
.Wave-image {
  width: 4rem;
  height: 4rem;
}
.Wave-h4 {
  font-family: arimo, sans-serif;
  color: #8f6843;
  font-size: 28px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.Wave-p {
  font-family: roboto, sans-serif;
  text-align: center;
  font-size: 1rem;
  line-height: 1.625rem;
  letter-spacing: 0;
  color: #635c55;

  padding: 0 15%;
}
@media screen and (max-width: 1025px) {
  .Hear {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
  }
  .App {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
  .Video {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }
  .What {
    grid-column: 1 / 3;
    grid-row: 4 / 5;
  }
  .Map {
    grid-column: 1 / 3;
    grid-row: 5 / 6;
  }
  .Image {
    grid-column: 1 / 2;
    grid-row: 6 / 7;
  }
  .Wave {
    grid-column: 2 / 3;
    grid-row: 6 / 7;
  }
  .Sound {
    grid-column: 1 / 3;
    grid-row: 7 / 9;
  }
}
@media screen and (max-width: 765px) {
  .Hear {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
  }
  .App {
    grid-column: 1 / 3;
    grid-row: 3 / 3;
  }
  .Video {
    grid-column: 1 / 3;
    grid-row: 4 / 5;
  }
  .What {
    grid-column: 1 / 3;
    grid-row: 5 / 6;
  }
  .Map {
    grid-column: 1 / 3;
    grid-row: 6 / 7;
  }
  .Image {
    grid-column: 1 / 3;
    grid-row: 7 / 8;
  }
  .Wave {
    grid-column: 1 / 3;
    grid-row: 8 / 9;
  }
  .Sound {
    grid-column: 1 / 3;
    grid-row: 9 / 11;
  }
}

/* NEWSLETTER */
.Newsletter {
  background-color: #f5ece0;
  width: 100%;
  min-height: 30vh;
  padding: 2.375rem;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.Newsletter-h3 {
  margin: 3.125rem;

  font-family: arimo, sans-serif;
  color: #8f6843;
  font-size: 2.1875rem;
  text-transform: uppercase;
}
.Newsletter-container {
  /* background-color: gold; */
  margin: 3.125rem;
}
.Form {
  /* background-color: blue; */
  width: 24.75rem;
  height: 1.875rem;
  font-size: 1rem;
  border-bottom: 0.0625rem solid #8f6843;

  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}
.Input {
  width: 100%;
  font-family: roboto, sans-serif;
}
.Input:focus {
  outline: none;
}
.Input-button {
  /* background-color: lightblue; */
}
.Input-svg {
  /* background-color: lightgreen; */
  height: 1rem;
  color: #8f6843;
  cursor: pointer;
}
@media screen and (max-width: 830px) {
  .Newsletter {
    flex-direction: column;
    width: 100%;
    min-height: 10vh;
    padding: 2.625rem;
  }
  .Newsletter-h3 {
    margin: 0;
    padding: 1.25rem 5.25rem 0 0;
  }
  .Newsletter-container {
    margin: 1.875rem;
  }
  .Form {
    width: 20rem;
  }
}
/* FOOTER */
.Footer {
  /* background-color: lightskyblue; */
  padding: 6.25rem 1.5625rem;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}

/* FOOTER LEFT */
.Footer-left {
  /* background-color: blueviolet; */
}
.Footer-circle {
  width: 6.25rem;
  height: 6.25rem;

  color: #8f6843;
  border-radius: 50%;
  border: 0.125rem solid #8f6843;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.Footer-s {
  font-size: 2.5rem;
}
.Copyright {
  padding-top: 1.5625rem;
}
.Copyright-a {
  color: #635c55;
  font-size: 0.875rem;
}
@media screen and (max-width: 800px) {
  .Footer {
    padding: 3rem 6rem;

    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
  }
  .Footer-left {
    padding-right: 5.7rem;
  }
  .Right {
    padding-right: 9rem;
    padding-top: 4rem;
  }
  .Footer-right {
    padding-top: 2rem;
  }
}
@media screen and (max-width: 640px) {
  .Footer {
    padding: 5rem;
  }
  .Footer-left {
    padding-right: 1rem;
  }
  .Left {
    padding-top: 1.875rem;
    padding-right: 2rem;
  }
  .Right {
    padding-top: 1.875rem;
    padding-right: 5rem;
  }
}

/* FOOTER CENTER*/
.Footer-center {
  /* background-color: aquamarine; */
}

/* FOOTER CENTER LEFT */
.Left {
  /* background-color: beige; */
}
.Left-ul {
  font-size: 0.9375rem;
  line-height: 1.875rem;
  letter-spacing: 0.0125rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #8f6843;
}
.Left-li:hover {
  color: #bc9c7e;
  transition: 0.2s;
}
.Left-li {
}
.Left-a {
}

/* FOOTER CENTER RIGHT */
.Right {
  /* background-color: goldenrod; */
}
.Right-ul {
  font-size: 0.9375rem;
  line-height: 1.875rem;
  letter-spacing: 0.0125rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #8f6843;
}
.Right-li:hover {
  color: #bc9c7e;
  transition: 0.2s;
}
.Right-li {
}
.Right-a {
}

/* FOOTER RIGHT */
.Footer-right {
  /* background-color: lightcyan; */
  height: 9.375rem;
}
.Footer-sentences {
}
.Footer-ul {
  font-size: 0.9375rem;
  line-height: 1.875rem;
  letter-spacing: 0.0125rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #8f6843;
}
.Footer-li:hover {
  color: #bc9c7e;
  transition: 0.2s;
}
.Footer-li {
}
.Footer-a {
}

/* RRSS */
.Rrss {
  margin-top: 1.875rem;
}
.Rrss-ul {
  color: #8f6843;
  width: 100%;

  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}
.Rrss-li {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Rrss-li:hover {
  background-color: rgb(244, 241, 238);
  width: 2rem;
  height: 2rem;
  border-radius: 50%;

  transition: 0.3s;
  display: flex;
  align-items: center;
}
.Rrss-a {
}
.Rrss-svg {
}

/* KEYFRAMES */
@keyframes spinner {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes headerslideDown {
  from {
    transform: translateY(-30%);
    opacity: 0%;
  }
  to {
    transform: translateY(0%);
    opacity: 100%;
  }
}
@keyframes slideDown {
  from {
    transform: translateY(-20%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 100;
  }
}
@keyframes slideRight {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 100%;
  }
}
@keyframes animationButton {
  0% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1.1);
  }
}
@keyframes animationHover {
  from {
    transform: rotateX(0deg);
  }
  to {
    transform: rotateX(359deg);
  }
}
@keyframes slideDown {
  from {
    transform: translateY(-20%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 100;
  }
}
@keyframes slideDown {
  from {
    transform: translateY(-20%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 100;
  }
}
@keyframes animationVideo {
  0% {
    transform: translateX(-50%) translateY(-50%) scale(1.3) rotateZ(0deg) rotateY(0deg);
  }
  50% {
    transform: translateX(-50%) translateY(-50%) scale(0.9) rotateZ(180deg) rotateY(180deg);
  }
  100% {
    transform: translateX(-50%) translateY(-50%) scale(1.3) rotateZ(359deg) rotateY(359deg);
  }
}
@keyframes slideLeft {
  from {
    transform: translateX(100%);
    opacity: 0%;
  }
  to {
    transform: translateX(0%);
    opacity: 100%;
  }
}
@keyframes slideMap {
  from {
    transform: translateX(-100%);
    opacity: 0%;
  }
  to {
    transform: translateX(0%);
    opacity: 100%;
  }
}
@keyframes soundslideRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 100%;
  }
}
@keyframes slideImage {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}
@keyframes slideWave {
  from {
    transform: translateY(100%);
    opacity: 0%;
  }
  to {
    transform: translateY(0%);
    opacity: 100%;
  }
}
